@font-face {
  font-family: "futura-pt";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/futura-pt-book.eot") format("embedded-opentype");
  src: url("../fonts/futura-pt-book.eot#iefix") format("embedded-opentype"),
    url("../fonts/futura-pt-book.woff2") format("woff2"),
    url("../fonts/futura-pt-book.woff") format("woff"),
    url("../fonts/futura-pt-book.ttf") format("truetype");
}
